ConnectionStrings__DefaultConnectionString=Host=;Port=1234;Database=;Username=;Password=;Pooling=true;
Jwt__SecretKey=replace-me-with-a-long-random-string
Jwt__Issuer=once.uz
Jwt__Audience=once.uz
TelegramBot__Name=@testbot
TelegramBot__Token=PASTE_TOKEN_HERE
TelegramBot__ChatId=-123456789
TelegramBot__MessageThreadId=9